{"openapi": "3.1.0", "info": {"title": "OWJ CRS Flight Microservice", "description": "This is the API documentation for the OWJ CRS Flight Service.", "version": "1.0.0"}, "servers": [{"url": "https://flight.owj.app/", "description": "Production environment"}, {"url": "http://localhost:8000/", "description": "Local environment"}], "paths": {"/api/flight/v1/search": {"post": {"tags": ["Flight Search"], "summary": "Create Flight Search", "description": "This Method is for flight search.\nIt provides search id for the search request which can be used to get the results.\nIt also provides any flights that are available at the time of the request", "operationId": "search", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightSearchRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightSearchResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/searchtest": {"post": {"tags": ["Flight Search"], "summary": "Create Flight Search 2", "description": "This Method is for flight search.\nIt provides search id for the search request which can be used to get the results.\nIt also provides any flights that are available at the time of the request", "operationId": "search_2", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightSearchRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightSearchResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/search/{searchId}": {"get": {"tags": ["Flight Search"], "summary": "Get Flight Search", "description": "This Method is for getting the results of a search.\nIt provides the results of the search with the given search id.", "operationId": "rch", "parameters": [{"name": "searchId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "Search ID", "title": "Searchid"}, "description": "Search ID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}, {"name": "fetch_all", "in": "query", "required": false, "schema": {"type": "boolean", "default": false, "title": "Fetch All"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightSearchDataResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/validate": {"post": {"tags": ["Flight Validate"], "summary": "Validate Flight", "operationId": "", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightValidateRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightValidateResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/book": {"post": {"tags": ["Flight Book"], "summary": "Book", "operationId": "", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightBookRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BookingResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/grid": {"post": {"tags": ["Flight Grid"], "summary": "Grid Search", "description": "This Method is for grid search.\nIt provides the cheapest price for each day between the given dates.", "operationId": "", "requestBody": {"content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightGridRequest"}}}, "required": true}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightGridResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/apis": {"post": {"tags": ["Flight APIs"], "summary": "Create Flight Api", "description": "This Method is for creating a flight api.", "operationId": "t_api", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/APIRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightAPIResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "get": {"tags": ["Flight APIs"], "summary": "List Flight Apis", "operationId": "apis", "parameters": [{"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "default": 0, "title": "Offset"}}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "default": 10, "title": "Size"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightAPIsResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/apis/{uuid}": {"get": {"tags": ["Flight APIs"], "summary": "Get Flight Api", "operationId": "pi", "parameters": [{"name": "uuid", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "API UUID", "title": "Uuid"}, "description": "API UUID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightAPIResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "put": {"tags": ["Flight APIs"], "summary": "Update Flight Api", "operationId": "t_api", "parameters": [{"name": "uuid", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "API ID", "title": "Uuid"}, "description": "API ID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/APIRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlightAPIResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "delete": {"tags": ["Flight APIs"], "summary": "Delete Flight Api", "operationId": "t_api", "parameters": [{"name": "uuid", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "API ID", "title": "Uuid"}, "description": "API ID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Response"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/airline": {"post": {"tags": ["Airline"], "summary": "Create Airline", "description": "Type and Scope:\n\n- **Type**: AGENCY User Set\n- **Scope**: AIRLINE:CREATE", "operationId": "irline", "security": [{"OAuth2PasswordBearer": ["AIRLINE:CREATE"]}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirlineRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirlineResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "get": {"tags": ["Airline"], "summary": "List Airlines", "description": "Type and Scope:\n\n- **Type**: AGENCY User Set\n- **Scope**: AIRLINE:READ", "operationId": "lines", "security": [{"OAuth2PasswordBearer": ["AIRLINE:READ"]}], "parameters": [{"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "default": 0, "title": "Offset"}}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "default": 10, "title": "Size"}}, {"name": "logical_op", "in": "query", "required": false, "schema": {"allOf": [{"$ref": "#/components/schemas/LogicalOperation"}], "default": "and", "title": "Logical Op"}}, {"name": "match_type", "in": "query", "required": false, "schema": {"allOf": [{"$ref": "#/components/schemas/MatchType"}], "default": "like", "title": "Match Type"}}, {"name": "sort_order", "in": "query", "required": false, "schema": {"allOf": [{"$ref": "#/components/schemas/SortOrder"}], "default": "asc", "title": "Sort Order"}}, {"name": "sort_field", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Sort Field"}}, {"name": "name_fa", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Name Fa"}}, {"name": "name_en", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Name En"}}, {"name": "iata_code", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Iata Code"}}, {"name": "icao_code", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Icao Code"}}, {"name": "charter724_name", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Charter724 Name"}}, {"name": "parto_name", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Parto Name"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirlinesResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/airline/{id}": {"get": {"tags": ["Airline"], "summary": "Get Airline", "description": "Type and Scope:\n\n- **Type**: AGENCY User Set\n- **Scope**: AIRLINE:READ", "operationId": "ine", "security": [{"OAuth2PasswordBearer": ["AIRLINE:READ"]}], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "description": "Airline ID", "title": "Id"}, "description": "Airline ID", "example": 1}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirlineResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "put": {"tags": ["Airline"], "summary": "Update Airline", "description": "Type and Scope:\n\n- **Type**: AGENCY User Set\n- **Scope**: AIRLINE:UPDATE", "operationId": "irline", "security": [{"OAuth2PasswordBearer": ["AIRLINE:UPDATE"]}], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "description": "Airline ID", "title": "Id"}, "description": "Airline ID", "example": 1}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirlineRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirlineResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "delete": {"tags": ["Airline"], "summary": "Delete Airline", "description": "Type and Scope:\n\n- **Type**: AGENCY User Set\n- **Scope**: AIRLINE:DELETE", "operationId": "irline", "security": [{"OAuth2PasswordBearer": ["AIRLINE:DELETE"]}], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "title": "Id"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Response"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/city": {"post": {"tags": ["City"], "summary": "Create City", "description": "Type and Scope:\n\n- **Type**: AGENCY User Set\n- **Scope**: CITY:CREATE", "operationId": "e_city", "security": [{"OAuth2PasswordBearer": ["CITY:CREATE"]}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CityRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CityResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "get": {"tags": ["City"], "summary": "List Cities", "description": "Type and Scope:\n\n- **Type**: AGENCY User Set\n- **Scope**: CITY:READ", "operationId": "cities", "security": [{"OAuth2PasswordBearer": ["CITY:READ"]}], "parameters": [{"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "default": 0, "title": "Offset"}}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "default": 10, "title": "Size"}}, {"name": "logical_op", "in": "query", "required": false, "schema": {"allOf": [{"$ref": "#/components/schemas/LogicalOperation"}], "default": "and", "title": "Logical Op"}}, {"name": "match_type", "in": "query", "required": false, "schema": {"allOf": [{"$ref": "#/components/schemas/MatchType"}], "default": "like", "title": "Match Type"}}, {"name": "sort_order", "in": "query", "required": false, "schema": {"allOf": [{"$ref": "#/components/schemas/SortOrder"}], "default": "asc", "title": "Sort Order"}}, {"name": "sort_field", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Sort Field"}}, {"name": "name_fa", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Name Fa"}}, {"name": "name_en", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Name En"}}, {"name": "iata_code", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Iata Code"}}, {"name": "icao_code", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Icao Code"}}, {"name": "country_code", "in": "query", "required": false, "schema": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Country Code"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CitiesResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/city/{id}": {"get": {"tags": ["City"], "summary": "Get City", "description": "Type and Scope:\n\n- **Type**: AGENCY User Set\n- **Scope**: CITY:READ", "operationId": "ity", "security": [{"OAuth2PasswordBearer": ["CITY:READ"]}], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "description": "City ID", "title": "Id"}, "description": "City ID", "example": 1}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CityResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "put": {"tags": ["City"], "summary": "Update City", "description": "Type and Scope:\n\n- **Type**: AGENCY User Set\n- **Scope**: CITY:UPDATE", "operationId": "e_city", "security": [{"OAuth2PasswordBearer": ["CITY:UPDATE"]}], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "description": "City ID", "title": "Id"}, "description": "City ID", "example": 1}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CityRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CityResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "delete": {"tags": ["City"], "summary": "Delete City", "description": "Type and Scope:\n\n- **Type**: AGENCY User Set\n- **Scope**: CITY:DELETE", "operationId": "e_city", "security": [{"OAuth2PasswordBearer": ["CITY:DELETE"]}], "parameters": [{"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "description": "City ID", "title": "Id"}, "description": "City ID", "example": 1}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Response"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/airport": {"post": {"tags": ["Airport"], "summary": "Create Airport", "description": "This Method is for creating an airport.", "operationId": "irport", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirportRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirportResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "get": {"tags": ["Airport"], "summary": "List Airports", "description": "This Method is for listing airports.", "operationId": "ports", "parameters": [{"name": "offset", "in": "query", "required": false, "schema": {"type": "integer", "default": 0, "title": "Offset"}}, {"name": "size", "in": "query", "required": false, "schema": {"type": "integer", "default": 10, "title": "Size"}}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirportsResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/airport/{uuid}": {"get": {"tags": ["Airport"], "summary": "Get Airport", "description": "This Method is for getting an airport.", "operationId": "ort", "parameters": [{"name": "uuid", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "Airport ID", "title": "Uuid"}, "description": "Airport ID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirportResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "put": {"tags": ["Airport"], "summary": "Update Airport", "description": "This Method is for updating an airport.", "operationId": "irport", "parameters": [{"name": "uuid", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "Airport ID", "title": "Uuid"}, "description": "Airport ID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirportRequest"}}}}, "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirportResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}, "delete": {"tags": ["Airport"], "summary": "Delete Airport", "description": "This Method is for deleting an airport.", "operationId": "irport", "parameters": [{"name": "uuid", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid", "description": "Airport ID", "title": "Uuid"}, "description": "Airport ID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Response"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}, "/api/flight/v1/autofill/{search}": {"get": {"tags": ["AutoFill"], "summary": "Search Airport", "description": "This Method is for searching an airport.", "operationId": "rport", "parameters": [{"name": "search", "in": "path", "required": true, "schema": {"type": "string", "description": "Airport Search", "title": "Search"}, "description": "Airport Search", "example": "LAX"}], "responses": {"200": {"description": "Successful Response", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AirportsResponse"}}}}, "400": {"description": "An error occurred. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "401": {"description": "Authentication failed. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}, "422": {"description": "Validation error. The input doesn't match the schema. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ValidationErrorResponse"}}}}, "403": {"description": "Permission denied. Check the error code and message.", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ErrorResponse"}}}}}}}}, "components": {"schemas": {"API": {"properties": {"id": {"type": "integer", "maximum": 2147483647.0, "minimum": 1.0, "title": "Id"}, "created_at": {"type": "string", "format": "date-time", "title": "Created At", "readOnly": true}, "updated_at": {"type": "string", "format": "date-time", "title": "Updated At", "readOnly": true}, "name": {"type": "string", "maxLength": 100, "title": "Name"}, "site_url": {"anyOf": [{"type": "string", "maxLength": 100}, {"type": "null"}], "title": "Site Url", "nullable": true}, "is_active": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Active", "default": true}, "client": {"type": "string", "maxLength": 10, "title": "Client", "description": "CHARTER724: CHARTER724<br/>ACCELAERO: ACCELAERO"}, "url": {"type": "string", "maxLength": 100, "title": "Url"}, "key": {"anyOf": [{"type": "string", "maxLength": 100}, {"type": "null"}], "title": "Key", "nullable": true}, "secret": {"anyOf": [{"type": "string", "maxLength": 100}, {"type": "null"}], "title": "Secret", "nullable": true}, "extra": {"title": "Extra", "default": {}}, "allow_search_without_credit": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Allow Search Without Credit", "default": false}, "credit_available": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Credit Available", "default": 0}, "credit_threshold": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Credit Threshold", "default": 0}, "credit_currency": {"anyOf": [{"type": "string", "maxLength": 3}, {"type": "null"}], "title": "Credit Currency", "description": "IRR: IRR", "default": "IRR"}, "supported_currencies": {"title": "Supported Currencies", "default": []}, "preferred_currency": {"anyOf": [{"type": "string", "maxLength": 3}, {"type": "null"}], "title": "Preferred Currency", "description": "IRR: IRR", "default": "IRR"}, "support_roundtrip": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Support Roundtrip", "default": false}, "support_city_search": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Support City Search", "default": false}, "allow_pax_count_in_cache_key": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Allow Pax Count In Cache Key", "default": false}, "search_cache_time": {"anyOf": [{"type": "integer", "maximum": 2147483647.0, "minimum": -2147483648.0}, {"type": "null"}], "title": "Search Cache Time", "default": 0}, "search_timeout": {"anyOf": [{"type": "integer", "maximum": 2147483647.0, "minimum": -2147483648.0}, {"type": "null"}], "title": "Search Timeout", "default": 0}}, "additionalProperties": false, "type": "object", "required": ["id", "created_at", "updated_at", "name", "site_url", "client", "url", "key", "secret"], "title": "API"}, "APIRequest": {"properties": {"created_at": {"type": "string", "format": "date-time", "title": "Created At", "readOnly": true}, "updated_at": {"type": "string", "format": "date-time", "title": "Updated At", "readOnly": true}, "name": {"type": "string", "maxLength": 100, "title": "Name"}, "site_url": {"anyOf": [{"type": "string", "maxLength": 100}, {"type": "null"}], "title": "Site Url", "nullable": true}, "is_active": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Active", "default": true}, "client": {"type": "string", "maxLength": 10, "title": "Client", "description": "CHARTER724: CHARTER724<br/>ACCELAERO: ACCELAERO"}, "url": {"type": "string", "maxLength": 100, "title": "Url"}, "key": {"anyOf": [{"type": "string", "maxLength": 100}, {"type": "null"}], "title": "Key", "nullable": true}, "secret": {"anyOf": [{"type": "string", "maxLength": 100}, {"type": "null"}], "title": "Secret", "nullable": true}, "extra": {"title": "Extra", "default": {}}, "allow_search_without_credit": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Allow Search Without Credit", "default": false}, "credit_available": {"anyOf": [{"type": "number"}, {"type": "string"}, {"type": "null"}], "title": "Credit Available", "default": 0}, "credit_threshold": {"anyOf": [{"type": "number"}, {"type": "string"}, {"type": "null"}], "title": "Credit Threshold", "default": 0}, "credit_currency": {"anyOf": [{"type": "string", "maxLength": 3}, {"type": "null"}], "title": "Credit Currency", "description": "IRR: IRR", "default": "IRR"}, "supported_currencies": {"title": "Supported Currencies", "default": []}, "preferred_currency": {"anyOf": [{"type": "string", "maxLength": 3}, {"type": "null"}], "title": "Preferred Currency", "description": "IRR: IRR", "default": "IRR"}, "support_roundtrip": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Support Roundtrip", "default": false}, "support_city_search": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Support City Search", "default": false}, "allow_pax_count_in_cache_key": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Allow Pax Count In Cache Key", "default": false}, "search_cache_time": {"anyOf": [{"type": "integer", "maximum": 2147483647.0, "minimum": -2147483648.0}, {"type": "null"}], "title": "Search Cache Time", "default": 0}, "search_timeout": {"anyOf": [{"type": "integer", "maximum": 2147483647.0, "minimum": -2147483648.0}, {"type": "null"}], "title": "Search Timeout", "default": 0}}, "additionalProperties": false, "type": "object", "required": ["created_at", "updated_at", "name", "site_url", "client", "url", "key", "secret"], "title": "APIRequest"}, "Airline": {"properties": {"id": {"type": "integer", "maximum": 2147483647.0, "minimum": 1.0, "title": "Id"}, "created_at": {"type": "string", "format": "date-time", "title": "Created At", "readOnly": true}, "updated_at": {"type": "string", "format": "date-time", "title": "Updated At", "readOnly": true}, "name_fa": {"type": "string", "maxLength": 100, "title": "Name Fa"}, "name_en": {"type": "string", "maxLength": 100, "title": "Name En"}, "iata_code": {"type": "string", "maxLength": 3, "title": "Iata Code"}, "icao_code": {"anyOf": [{"type": "string", "maxLength": 4}, {"type": "null"}], "title": "Icao Code", "nullable": true}, "charter724_name": {"anyOf": [{"type": "string", "maxLength": 100}, {"type": "null"}], "title": "Charter724 Name", "nullable": true}, "parto_name": {"anyOf": [{"type": "string", "maxLength": 100}, {"type": "null"}], "title": "Parto Name", "nullable": true}}, "additionalProperties": false, "type": "object", "required": ["id", "created_at", "updated_at", "name_fa", "name_en", "iata_code", "icao_code", "charter724_name", "parto_name"], "title": "Airline"}, "AirlineRequest": {"properties": {"name_fa": {"type": "string", "maxLength": 100, "title": "Name Fa"}, "name_en": {"type": "string", "maxLength": 100, "title": "Name En"}, "iata_code": {"type": "string", "maxLength": 3, "title": "Iata Code"}, "icao_code": {"anyOf": [{"type": "string", "maxLength": 4}, {"type": "null"}], "title": "Icao Code", "nullable": true}, "charter724_name": {"anyOf": [{"type": "string", "maxLength": 100}, {"type": "null"}], "title": "Charter724 Name", "nullable": true}, "parto_name": {"anyOf": [{"type": "string", "maxLength": 100}, {"type": "null"}], "title": "Parto Name", "nullable": true}}, "additionalProperties": false, "type": "object", "required": ["name_fa", "name_en", "iata_code", "icao_code", "charter724_name", "parto_name"], "title": "AirlineRequest"}, "AirlineResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "data": {"$ref": "#/components/schemas/Airline"}}, "type": "object", "required": ["data"], "title": "AirlineResponse"}, "AirlinesResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "total_pages": {"type": "integer", "title": "Total Pages", "description": "Total number of pages"}, "total_items": {"type": "integer", "title": "Total Items", "description": "Total number of items"}, "items": {"items": {"$ref": "#/components/schemas/Airline"}, "type": "array", "title": "Items"}}, "type": "object", "required": ["total_pages", "total_items", "items"], "title": "AirlinesResponse"}, "Airport": {"properties": {"id": {"type": "integer", "maximum": 2147483647.0, "minimum": 1.0, "title": "Id"}, "created_at": {"type": "string", "format": "date-time", "title": "Created At", "readOnly": true}, "updated_at": {"type": "string", "format": "date-time", "title": "Updated At", "readOnly": true}, "name_fa": {"type": "string", "maxLength": 100, "title": "Name Fa"}, "name_en": {"type": "string", "maxLength": 100, "title": "Name En"}, "iata_code": {"type": "string", "maxLength": 3, "title": "Iata Code"}, "icao_code": {"anyOf": [{"type": "string", "maxLength": 4}, {"type": "null"}], "title": "Icao Code", "nullable": true}, "city": {"$ref": "#/components/schemas/City"}}, "additionalProperties": false, "type": "object", "required": ["id", "created_at", "updated_at", "name_fa", "name_en", "iata_code", "icao_code", "city"], "title": "Airport"}, "AirportRequest": {"properties": {"name_fa": {"type": "string", "maxLength": 100, "title": "Name Fa"}, "name_en": {"type": "string", "maxLength": 100, "title": "Name En"}, "iata_code": {"type": "string", "maxLength": 3, "title": "Iata Code"}, "icao_code": {"anyOf": [{"type": "string", "maxLength": 4}, {"type": "null"}], "title": "Icao Code", "nullable": true}, "city_iata_code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "City Iata Code", "description": "City IATA Code", "example": "THR"}, "city_uuid": {"anyOf": [{"type": "string", "format": "uuid4"}, {"type": "null"}], "title": "City Uuid", "description": "City UUID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}}, "additionalProperties": false, "type": "object", "required": ["name_fa", "name_en", "iata_code", "icao_code"], "title": "AirportRequest"}, "AirportResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "data": {"$ref": "#/components/schemas/Airport"}}, "type": "object", "required": ["data"], "title": "AirportResponse"}, "AirportsResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "total_pages": {"type": "integer", "title": "Total Pages", "description": "Total number of pages"}, "total_items": {"type": "integer", "title": "Total Items", "description": "Total number of items"}, "items": {"items": {"$ref": "#/components/schemas/Airport"}, "type": "array", "title": "Items"}}, "type": "object", "required": ["total_pages", "total_items", "items"], "title": "AirportsResponse"}, "Booking": {"properties": {"id": {"type": "integer", "title": "Id", "description": "Booking ID", "example": 1}, "uuid": {"type": "string", "format": "uuid4", "title": "Uuid", "description": "Booking UUID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}, "user": {"type": "string", "format": "uuid4", "title": "User", "description": "User UUID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}, "business": {"anyOf": [{"type": "string", "format": "uuid4"}, {"type": "null"}], "title": "Business", "description": "Business UUID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}, "type": {"allOf": [{"$ref": "#/components/schemas/OfferType"}], "description": "Offer Type"}, "status": {"allOf": [{"$ref": "#/components/schemas/BookingStatus"}], "description": "Booking Status"}, "is_instant_ticketing_required": {"type": "boolean", "title": "Is Instant Ticketing Required", "description": "Instant Ticketing Required", "default": true}, "last_ticketing_date": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Last Ticketing Date", "description": "Last Ticketing Date"}, "timestamp": {"type": "string", "format": "date-time", "title": "Timestamp", "description": "Timestamp"}, "segments": {"items": {"$ref": "#/components/schemas/BookingSegment"}, "type": "array", "title": "Segments", "description": "Segments"}, "passengers": {"items": {"$ref": "#/components/schemas/BookingPassenger"}, "type": "array", "title": "Passengers", "description": "Passengers"}}, "type": "object", "required": ["id", "uuid", "user", "type", "status", "timestamp", "segments", "passengers"], "title": "Booking"}, "BookingPassenger": {"properties": {"id": {"type": "integer", "title": "Id", "description": "Passenger ID", "example": 1}, "uuid": {"type": "string", "format": "uuid4", "title": "Uuid", "description": "Passenger UUID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}, "first_name": {"type": "string", "title": "First Name", "description": "First Name", "example": "John"}, "last_name": {"type": "string", "title": "Last Name", "description": "Last Name", "example": "Doe"}, "date_of_birth": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Date Of Birth", "description": "Date of Birth"}, "iran_national_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Iran National Id", "description": "Iran National ID", "example": "0012345678"}, "passport_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Passport Number", "description": "Passport Number", "example": "0012345678"}, "passport_expiry_date": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Passport Expiry Date", "description": "Passport Expiry Date"}, "passport_issue_date": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Passport Issue Date", "description": "Passport Issue Date"}, "passport_issuance_country": {"anyOf": [{"$ref": "#/components/schemas/IATACodeType"}, {"type": "null"}], "description": "Passport Issuance Country"}, "base": {"type": "string", "title": "Base", "description": "Base", "example": 1000000}, "tax": {"type": "string", "title": "Tax", "description": "Tax", "example": 1000000}, "fee": {"type": "string", "title": "Fee", "description": "Fee", "example": 1000000}, "service": {"type": "string", "title": "Service", "description": "Service", "example": 1000000}, "discount": {"type": "string", "title": "Discount", "description": "Discount", "example": 1000000}, "markup": {"type": "string", "title": "Markup", "description": "Markup", "example": 1000000}, "commission": {"type": "string", "title": "Commission", "description": "Commission", "example": 1000000}, "total": {"type": "string", "title": "Total", "description": "Total", "example": 1000000}, "currency": {"allOf": [{"$ref": "#/components/schemas/CurrencyChoices"}], "description": "Currency", "default": "IRR"}, "penalty": {"type": "string", "title": "Penalty", "description": "Penalty", "example": 1000000}, "refund_total": {"type": "string", "title": "Refund Total", "description": "Refund Total", "example": 1000000}, "timestamp": {"type": "string", "format": "date-time", "title": "Timestamp", "description": "Timestamp"}, "segments": {"items": {"$ref": "#/components/schemas/BookingPassengerSegment"}, "type": "array", "title": "Segments", "description": "Segments"}}, "type": "object", "required": ["id", "uuid", "first_name", "last_name", "base", "tax", "fee", "service", "discount", "markup", "commission", "total", "penalty", "refund_total", "timestamp", "segments"], "title": "BookingPassenger"}, "BookingPassengerSegment": {"properties": {"id": {"type": "integer", "title": "Id", "description": "Passenger Segment ID", "example": 1}, "uuid": {"type": "string", "format": "uuid4", "title": "Uuid", "description": "Passenger Segment UUID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}, "code": {"type": "string", "title": "Code", "description": "Code", "example": "IKA/DXB"}, "status": {"allOf": [{"$ref": "#/components/schemas/PassengerStatus"}], "description": "Passenger Status", "default": "UNKNOWN"}, "pnr": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Pnr", "description": "PNR", "example": "ABC123"}, "ticket_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Ticket Number", "description": "Ticket Number", "example": "ABC123"}, "cabin": {"allOf": [{"$ref": "#/components/schemas/CabinType"}], "description": "Cabin Type", "default": "ECONOMY"}, "fare_basis": {"type": "string", "title": "Fare Basis", "description": "Fare Basis", "example": "ABC123"}, "booking_class": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Booking Class", "description": "Booking Class", "example": "ABC123"}, "branded_fare": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Branded Fare", "description": "Branded Fare", "example": "Eco Flex"}, "baggage": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Baggage", "description": "Baggage", "example": "20KG"}, "carryon": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Carryon", "description": "Carryon", "example": "7KG"}}, "type": "object", "required": ["id", "uuid", "code", "fare_basis", "booking_class"], "title": "BookingPassengerSegment"}, "BookingResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "data": {"allOf": [{"$ref": "#/components/schemas/Booking"}], "description": "Booking"}}, "type": "object", "required": ["data"], "title": "BookingResponse"}, "BookingSegment": {"properties": {"id": {"type": "integer", "title": "Id", "description": "Segment ID", "example": 1}, "uuid": {"type": "string", "format": "uuid4", "title": "Uuid", "description": "Segment UUID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}, "code": {"type": "string", "title": "Code", "description": "Code", "example": "IKA/DXB"}, "origin": {"type": "string", "title": "Origin", "description": "Origin", "example": "IKA"}, "destination": {"type": "string", "title": "Destination", "description": "Destination", "example": "DXB"}, "departure": {"type": "string", "format": "date-time", "title": "Departure", "description": "Departure"}, "arrival": {"type": "string", "format": "date-time", "title": "Arrival", "description": "Arrival"}, "flight_number": {"type": "string", "title": "Flight Number", "description": "Flight Number", "example": "ABC123"}, "operating_flight_number": {"type": "string", "title": "Operating Flight Number", "description": "Operating Flight Number", "example": "ABC123"}, "airline": {"type": "string", "title": "Airline", "description": "Airline", "example": "ABC123"}, "stops": {"items": {"$ref": "#/components/schemas/BookingStop"}, "type": "array", "title": "Stops", "description": "Stops"}}, "type": "object", "required": ["id", "uuid", "code", "origin", "destination", "departure", "arrival", "flight_number", "operating_flight_number", "airline", "stops"], "title": "BookingSegment"}, "BookingStatus": {"type": "string", "enum": ["PENDING_PAYMENT", "BOOKED", "CANCELLED", "TICKETED", "PARTIALLY_CANCELLED"], "title": "BookingStatus"}, "BookingStop": {"properties": {"id": {"type": "integer", "title": "Id", "description": "Stop ID", "example": 1}, "uuid": {"type": "string", "format": "uuid4", "title": "Uuid", "description": "Stop UUID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}, "airport": {"type": "string", "title": "Airport", "description": "Airport", "example": "IKA"}, "arrival": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Arrival", "description": "Arrival"}, "departure": {"anyOf": [{"type": "string", "format": "date-time"}, {"type": "null"}], "title": "Departure", "description": "Departure"}}, "type": "object", "required": ["id", "uuid", "airport"], "title": "BookingStop"}, "CabinType": {"type": "string", "enum": ["ECONOMY", "PREMIUM_ECONOMY", "BUSINESS", "FIRST"], "title": "CabinType"}, "CitiesResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "total_pages": {"type": "integer", "title": "Total Pages", "description": "Total number of pages"}, "total_items": {"type": "integer", "title": "Total Items", "description": "Total number of items"}, "items": {"items": {"$ref": "#/components/schemas/City"}, "type": "array", "title": "Items"}}, "type": "object", "required": ["total_pages", "total_items", "items"], "title": "CitiesResponse"}, "City": {"properties": {"id": {"type": "integer", "maximum": 2147483647.0, "minimum": 1.0, "title": "Id"}, "created_at": {"type": "string", "format": "date-time", "title": "Created At", "readOnly": true}, "updated_at": {"type": "string", "format": "date-time", "title": "Updated At", "readOnly": true}, "name_fa": {"type": "string", "maxLength": 100, "title": "Name Fa"}, "name_en": {"type": "string", "maxLength": 100, "title": "Name En"}, "iata_code": {"type": "string", "maxLength": 3, "title": "Iata Code"}, "icao_code": {"anyOf": [{"type": "string", "maxLength": 4}, {"type": "null"}], "title": "Icao Code", "nullable": true}, "country_code": {"type": "string", "maxLength": 2, "title": "Country Code"}}, "additionalProperties": false, "type": "object", "required": ["id", "created_at", "updated_at", "name_fa", "name_en", "iata_code", "icao_code", "country_code"], "title": "City"}, "CityRequest": {"properties": {"name_fa": {"type": "string", "maxLength": 100, "title": "Name Fa"}, "name_en": {"type": "string", "maxLength": 100, "title": "Name En"}, "iata_code": {"type": "string", "maxLength": 3, "title": "Iata Code"}, "icao_code": {"anyOf": [{"type": "string", "maxLength": 4}, {"type": "null"}], "title": "Icao Code", "nullable": true}, "country_code": {"type": "string", "maxLength": 2, "title": "Country Code"}}, "additionalProperties": false, "type": "object", "required": ["name_fa", "name_en", "iata_code", "icao_code", "country_code"], "title": "CityRequest"}, "CityResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "data": {"$ref": "#/components/schemas/City"}}, "type": "object", "required": ["data"], "title": "CityResponse"}, "CurrencyChoices": {"type": "string", "const": "IRR", "title": "CurrencyChoices"}, "DataSource": {"type": "string", "enum": ["AIRLINE", "THIRD_PARTY"], "title": "DataSource"}, "Detail": {"properties": {"loc": {"items": {"anyOf": [{"type": "string"}, {"type": "integer"}]}, "type": "array", "title": "Loc", "description": "Location of the error"}, "msg": {"type": "string", "title": "Msg", "description": "Error message"}, "type": {"type": "string", "title": "Type", "description": "Error type"}, "input": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Input", "description": "Input value"}, "ctx": {"anyOf": [{"type": "object"}, {"type": "null"}], "title": "Ctx", "description": "Context"}, "url": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Url", "description": "URL"}}, "type": "object", "required": ["loc", "msg", "type"], "title": "Detail"}, "Details": {"properties": {"category": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Category", "description": "Category", "example": "Penalty"}, "text": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Text", "description": "Text", "example": "Penalty"}}, "type": "object", "title": "Details"}, "ErrorDetail": {"properties": {"id": {"type": "string", "title": "Id", "description": "Error ID"}, "message": {"type": "string", "title": "Message", "description": "Error message"}}, "type": "object", "required": ["id", "message"], "title": "ErrorDetail"}, "ErrorResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": false}, "error": {"allOf": [{"$ref": "#/components/schemas/ErrorDetail"}], "description": "Error details"}}, "type": "object", "required": ["error"], "title": "ErrorResponse"}, "Fare": {"properties": {"key": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Key", "description": "Fare key"}, "priority": {"type": "integer", "title": "Priority", "description": "Fare priority", "default": 0, "example": 1}, "type": {"type": "string", "title": "Type", "description": "Fare type"}, "number_of_seats": {"type": "integer", "title": "Number Of Seats", "description": "Number of seats", "example": 1}, "is_refundable": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Refundable", "description": "Is refundable", "example": true}, "is_exchangeable": {"anyOf": [{"type": "boolean"}, {"type": "null"}], "title": "Is Exchangeable", "description": "Is changeable", "example": true}, "instant_ticketing_required": {"type": "boolean", "title": "Instant Ticketing Required", "description": "Instant ticketing required", "default": true, "example": true}, "last_ticketing_date": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Last Ticketing Date", "description": "Last ticketing date"}, "paxs": {"items": {"$ref": "#/components/schemas/Pax"}, "type": "array", "title": "Paxs", "description": "List of paxs"}, "remarks": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Remarks", "description": "Remarks", "example": "This fare is ......"}}, "type": "object", "required": ["type", "number_of_seats", "paxs"], "title": "Fare"}, "FareRule": {"properties": {"code": {"type": "string", "title": "Code", "description": "City pair code", "example": "THR/IST"}, "details": {"items": {"$ref": "#/components/schemas/Details"}, "type": "array", "title": "Details", "description": "List of details"}}, "type": "object", "required": ["code", "details"], "title": "FareRule"}, "FareType": {"type": "string", "enum": ["PUBLIC", "CHARTER", "UNKNOWN"], "title": "FareType"}, "Fee": {"properties": {"amount": {"type": "string", "title": "Amount", "description": "Fee amount", "example": 1000000}, "name": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Name", "description": "Fee name", "example": "Taxes"}, "code": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Code", "description": "Fee code", "example": "TAX"}}, "type": "object", "required": ["amount", "name", "code"], "title": "Fee"}, "FlightAPIResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "data": {"$ref": "#/components/schemas/API"}}, "type": "object", "required": ["data"], "title": "FlightAPIResponse"}, "FlightAPIsResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "items": {"items": {"$ref": "#/components/schemas/API"}, "type": "array", "title": "Items"}}, "type": "object", "required": ["items"], "title": "FlightAPIsResponse"}, "FlightBookFareKey": {"properties": {"key": {"type": "string", "title": "Key", "description": "Fare Key", "example": "1234567890"}, "captcha": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Captcha", "description": "Captcha", "example": "1234567890"}}, "type": "object", "required": ["key", "captcha"], "title": "FlightBookFareKey"}, "FlightBookRequest": {"properties": {"search_id": {"type": "string", "format": "uuid4", "title": "Search Id", "description": "Search ID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}, "fares": {"items": {"$ref": "#/components/schemas/FlightBookFareKey"}, "type": "array", "title": "Fares", "description": "List of Fare Keys"}, "passengers": {"items": {"$ref": "#/components/schemas/Passenger"}, "type": "array", "title": "Passengers", "description": "List of Passengers"}, "phone_number": {"type": "string", "title": "Phone Number", "description": "Phone Number", "example": "09123456789"}, "email": {"type": "string", "format": "email", "title": "Email", "description": "Email", "example": "sepehr@owj.app"}}, "type": "object", "required": ["search_id", "fares", "passengers", "phone_number", "email"], "title": "FlightBookRequest"}, "FlightGridData": {"properties": {"departure_date": {"type": "string", "title": "Departure Date", "description": "Date", "example": "2023-12-30"}, "returnDate": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Returndate", "description": "Return date in YYYY-MM-DD format", "example": "2023-12-31"}, "type": {"anyOf": [{"$ref": "#/components/schemas/FareType"}, {"type": "null"}], "description": "Fare type", "example": "PUBLIC"}, "price": {"type": "string", "title": "Price", "description": "Price", "example": "1000.00"}, "commission": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Commission", "description": "Commission", "example": "100.00"}, "currency": {"type": "string", "title": "Currency", "description": "Currency", "example": "IRR"}, "airline": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Airline", "description": "Airline", "example": "IR"}}, "type": "object", "required": ["departure_date", "price", "currency"], "title": "FlightGridData"}, "FlightGridRequest": {"properties": {"origin": {"type": "string", "title": "Origin", "description": "Origin IATA code", "example": "THR"}, "originType": {"allOf": [{"$ref": "#/components/schemas/IATACodeType"}], "description": "Origin IATA code type", "default": "AIRPORT"}, "destination": {"type": "string", "title": "Destination", "description": "Destination IATA code", "example": "KER"}, "destinationType": {"allOf": [{"$ref": "#/components/schemas/IATACodeType"}], "description": "Destination IATA code type", "default": "AIRPORT"}, "type": {"allOf": [{"$ref": "#/components/schemas/OfferType"}], "description": "Type of offer", "default": "ONE_WAY", "example": "ONE_WAY"}, "cabinType": {"allOf": [{"$ref": "#/components/schemas/CabinType"}], "description": "Cabin type", "default": "ECONOMY"}, "currency": {"allOf": [{"$ref": "#/components/schemas/CurrencyChoices"}], "description": "Currency to be used for pricing", "default": "IRR"}, "fromDate": {"type": "string", "title": "Fromdate", "description": "From date in YYYY-MM-DD format", "example": "2023-12-30"}, "toDate": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Todate", "description": "To date in YYYY-MM-DD format", "example": "2023-12-30"}}, "type": "object", "required": ["origin", "destination", "fromDate"], "title": "FlightGridRequest"}, "FlightGridResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "data": {"items": {"$ref": "#/components/schemas/FlightGridData"}, "type": "array", "title": "Data", "description": "List of flight grid data"}}, "type": "object", "required": ["data"], "title": "FlightGridResponse"}, "FlightSearchDataResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "is_finished": {"type": "boolean", "title": "Is Finished", "description": "Is search finished", "example": true}, "timeout": {"type": "integer", "title": "Timeout", "description": "Timeout", "example": 3000}, "offers": {"items": {"$ref": "#/components/schemas/Offer"}, "type": "array", "title": "Offers", "description": "List of offers"}}, "type": "object", "required": ["is_finished", "timeout", "offers"], "title": "FlightSearchDataResponse"}, "FlightSearchRequest": {"properties": {"origin": {"type": "string", "title": "Origin", "description": "Origin IATA code", "example": "THR"}, "originType": {"allOf": [{"$ref": "#/components/schemas/IATACodeType"}], "description": "Origin IATA code type", "default": "AIRPORT"}, "destination": {"type": "string", "title": "Destination", "description": "Destination IATA code", "example": "KER"}, "destinationType": {"allOf": [{"$ref": "#/components/schemas/IATACodeType"}], "description": "Destination IATA code type", "default": "AIRPORT"}, "departure_date": {"type": "string", "title": "Departure Date", "description": "Departure date in YYYY-MM-DD format", "example": "2023-12-30"}, "return_date": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Return Date", "description": "Return date in YYYY-MM-DD format", "example": "2023-12-31"}, "cabinType": {"allOf": [{"$ref": "#/components/schemas/CabinType"}], "description": "Cabin type", "default": "ECONOMY"}, "currency": {"allOf": [{"$ref": "#/components/schemas/CurrencyChoices"}], "description": "Currency to be used for pricing", "default": "IRR"}, "adultCount": {"type": "integer", "maximum": 9.0, "minimum": 1.0, "title": "Adultcount", "description": "Number of adults", "default": 1}, "childCount": {"type": "integer", "maximum": 8.0, "minimum": 0.0, "title": "Childcount", "description": "Number of children", "default": 0}, "infantCount": {"type": "integer", "maximum": 4.0, "minimum": 0.0, "title": "Infantcount", "description": "Number of infants", "default": 0}, "allowOneWayOffers": {"type": "boolean", "title": "Allowonewayoffers", "description": "Allow one way offers", "default": true}}, "type": "object", "required": ["origin", "destination", "departure_date"], "title": "FlightSearchRequest"}, "FlightSearchResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "searchId": {"type": "string", "format": "uuid4", "title": "Searchid", "description": "Flight search ID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}, "timeout": {"type": "integer", "title": "Timeout", "description": "Time in seconds after which search you can get results", "default": 10000}, "isFinished": {"type": "boolean", "title": "Isfinished", "description": "Is search finished", "default": false}, "offers": {"items": {"$ref": "#/components/schemas/Offer"}, "type": "array", "title": "Offers", "description": "List of offers"}}, "type": "object", "required": ["searchId"], "title": "FlightSearchResponse"}, "FlightValidateRequest": {"properties": {"search_id": {"type": "string", "format": "uuid4", "title": "Search Id", "description": "Search ID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}, "keys": {"items": {"type": "string"}, "type": "array", "title": "Keys", "description": "List of Fare Keys", "example": ["1234567890"]}}, "type": "object", "required": ["search_id", "keys"], "title": "FlightValidateRequest"}, "FlightValidateResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}, "search_id": {"type": "string", "format": "uuid4", "title": "Search Id", "description": "Search ID", "example": "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"}, "offers": {"items": {"$ref": "#/components/schemas/Offer"}, "type": "array", "title": "Offers", "description": "List of offers"}, "total_base": {"type": "string", "title": "Total Base", "description": "Base fare", "default": "0", "example": 1000000}, "total_fees": {"type": "string", "title": "Total Fees", "description": "Total fees", "default": "0", "example": 1000000}, "total_taxes": {"type": "string", "title": "Total Taxes", "description": "Total taxes", "default": "0", "example": 1000000}, "total_services": {"type": "string", "title": "Total Services", "description": "Total service fee", "default": "0", "example": 1000000}, "total_discounts": {"type": "string", "title": "Total Discounts", "description": "Total discount", "default": "0", "example": 1000000}, "total": {"type": "string", "title": "Total", "description": "Total fare", "default": "0", "example": 1000000}, "currency": {"allOf": [{"$ref": "#/components/schemas/CurrencyChoices"}], "description": "Currency", "default": "IRR", "example": "IRR"}, "booking_fields": {"allOf": [{"$ref": "#/components/schemas/Passenger"}], "description": "Booking Fields", "default": {"date_of_birth": "OPTIONAL", "first_name": "REQUIRED", "iran_national_id": "REQUIRED", "last_name": "REQUIRED", "passport_expiry_date": "OPTIONAL", "passport_issue_date": "OPTIONAL", "passport_issuing_country": "OPTIONAL", "passport_number": "OPTIONAL"}}}, "type": "object", "required": ["search_id", "offers"], "title": "FlightValidateResponse"}, "IATACodeType": {"type": "string", "enum": ["AIRPORT", "CITY"], "title": "IATACodeType"}, "Itinerary": {"properties": {"key": {"type": "string", "title": "Key", "description": "Itinerary key", "example": "THR"}, "duration": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Duration", "description": "Itinerary duration"}, "segments": {"items": {"$ref": "#/components/schemas/Segment"}, "type": "array", "title": "Segments", "description": "List of segments"}}, "type": "object", "required": ["key", "segments"], "title": "Itinerary"}, "Location": {"properties": {"code": {"type": "string", "title": "Code", "description": "Location code", "example": "THR"}, "at": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "At", "description": "Departure/Arrival time", "example": "2023-12-30T12:00:00"}, "terminal": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Terminal", "description": "Terminal", "example": "A12"}}, "type": "object", "required": ["code"], "title": "Location"}, "LogicalOperation": {"type": "string", "enum": ["and", "or"], "title": "LogicalOperation"}, "MatchType": {"type": "string", "enum": ["exact", "not_exact", "like", "not_like"], "title": "MatchType"}, "Offer": {"properties": {"type": {"allOf": [{"$ref": "#/components/schemas/OfferType"}], "description": "Offer type", "example": "ONE_WAY"}, "itineraries_source": {"allOf": [{"$ref": "#/components/schemas/DataSource"}], "description": "Itineraries source", "example": "AIRLINE"}, "key": {"type": "string", "title": "Key", "description": "Offer key", "example": "THR$MHD$TK1024$TK1025"}, "itineraries": {"items": {"$ref": "#/components/schemas/Itinerary"}, "type": "array", "title": "Itineraries", "description": "List of itineraries"}, "fares": {"anyOf": [{"items": {"$ref": "#/components/schemas/Fare"}, "type": "array"}, {"type": "null"}], "title": "Fares", "description": "List of fares"}, "fare": {"anyOf": [{"$ref": "#/components/schemas/Fare"}, {"type": "null"}], "description": "Single fare, this is the fare that will be used for booking"}, "captcha_link": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Captcha Link", "description": "Captcha Link"}}, "type": "object", "required": ["type", "itineraries_source", "key", "itineraries"], "title": "Offer"}, "OfferType": {"type": "string", "enum": ["ONE_WAY", "ROUND_TRIP"], "title": "OfferType"}, "Passenger": {"properties": {"first_name": {"type": "string", "title": "First Name", "description": "First name in English", "default": "REQUIRED", "example": "John"}, "last_name": {"type": "string", "title": "Last Name", "description": "Last name in English", "default": "REQUIRED", "example": "Doe"}, "date_of_birth": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Date Of Birth", "description": "Date of birth", "default": "OPTIONAL", "example": "2023-12-30"}, "iran_national_id": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Iran National Id", "description": "Iran National ID", "default": "REQUIRED", "example": "1234567890"}, "passport_number": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Passport Number", "description": "Passport Number", "default": "OPTIONAL", "example": "1234567890"}, "passport_expiry_date": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Passport Expiry Date", "description": "Passport Expiry Date", "default": "OPTIONAL", "example": "2023-12-30"}, "passport_issue_date": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Passport Issue Date", "description": "Passport Issue Date", "default": "OPTIONAL", "example": "2023-12-30"}, "passport_issuing_country": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Passport Issuing Country", "description": "Passport Issuing Country", "default": "OPTIONAL", "example": "IR"}}, "type": "object", "title": "Passenger"}, "PassengerStatus": {"type": "string", "enum": ["TICKETED", "CANCELLED", "VOID", "UNKNOWN"], "title": "PassengerStatus"}, "Pax": {"properties": {"type": {"type": "string", "title": "Type", "description": "PAX type", "example": "ADT"}, "count": {"anyOf": [{"type": "integer"}, {"type": "null"}], "title": "Count", "description": "PAX count", "example": 1}, "segments": {"items": {"$ref": "#/components/schemas/PaxSegment"}, "type": "array", "title": "Segments", "description": "List of segments"}, "base": {"type": "string", "title": "Base", "description": "Base fare", "example": 1000000}, "taxes": {"items": {"$ref": "#/components/schemas/Fee"}, "type": "array", "title": "Taxes", "description": "List of taxes"}, "fees": {"items": {"$ref": "#/components/schemas/Fee"}, "type": "array", "title": "Fees", "description": "List of fees"}, "services": {"items": {"$ref": "#/components/schemas/Fee"}, "type": "array", "title": "Services", "description": "List of services"}, "discounts": {"items": {"$ref": "#/components/schemas/Fee"}, "type": "array", "title": "Discounts", "description": "List of discounts"}, "total": {"type": "string", "title": "Total", "description": "Total fare", "example": 1000000}, "currency": {"allOf": [{"$ref": "#/components/schemas/CurrencyChoices"}], "description": "Currency", "example": "IRR"}, "rules": {"items": {"$ref": "#/components/schemas/FareRule"}, "type": "array", "title": "Rules", "description": "List of fare rules"}}, "type": "object", "required": ["type", "segments", "base", "total", "currency"], "title": "Pax"}, "PaxSegment": {"properties": {"key": {"type": "string", "title": "Key", "description": "Segment key"}, "cabin": {"allOf": [{"$ref": "#/components/schemas/CabinType"}], "description": "Cabin type", "example": "ECONOMY"}, "fare_basis": {"type": "string", "title": "Fare Basis", "description": "Fare basis", "example": "Y"}, "booking_class": {"type": "string", "title": "Booking Class", "description": "Booking class", "example": "Y"}, "branded_fare": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Branded Fare", "description": "Branded fare", "example": "Y"}, "baggage": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Baggage", "description": "Baggage", "example": "2 PC"}, "carryon": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Carryon", "description": "Carryon", "example": "8 KG"}}, "type": "object", "required": ["key", "cabin", "fare_basis", "booking_class"], "title": "PaxSegment"}, "Response": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": true}}, "type": "object", "title": "Response"}, "Segment": {"properties": {"key": {"type": "string", "title": "Key", "description": "Segment key. Segment key is a combination of departure code, arrival code, airline and flight number.", "example": "THR/MHD/TK1024/TK1025"}, "code": {"type": "string", "title": "Code", "description": "Segment code. Segment code is a combination of departure code, arrival code and stops.", "example": "THR/KER/MHD"}, "departure": {"allOf": [{"$ref": "#/components/schemas/Location"}], "description": "Departure location"}, "arrival": {"allOf": [{"$ref": "#/components/schemas/Location"}], "description": "Arrival location"}, "flight_number": {"type": "string", "title": "Flight Number", "description": "Flight number, first two characters are airline code and the rest is flight number", "example": "TK1024"}, "operating_flight_number": {"type": "string", "title": "Operating Flight Number", "description": "Operating flight number, first two characters are airline code and the rest is flight number", "example": "TK1025"}, "duration": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Duration", "description": "Duration", "duration": "PT2H30M"}, "aircraft": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Aircraft", "description": "Aircraft", "example": "A320"}, "remarks": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Remarks", "description": "Remarks", "example": "This flight is ......"}, "stop_count": {"type": "integer", "title": "Stop Count", "description": "Stop count", "default": 0, "example": 2}, "stops": {"anyOf": [{"items": {"$ref": "#/components/schemas/Stop"}, "type": "array"}, {"type": "null"}], "title": "Stops", "description": "List of stops"}}, "type": "object", "required": ["key", "code", "departure", "arrival", "flight_number", "operating_flight_number"], "title": "Segment"}, "SortOrder": {"type": "string", "enum": ["asc", "desc"], "title": "SortOrder"}, "Stop": {"properties": {"arrival": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Arrival", "description": "Departure/Arrival time", "example": "2023-12-30T12:00:00"}, "departure": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Departure", "description": "Departure/Arrival time", "example": "2023-12-30T12:00:00"}, "code": {"type": "string", "title": "Code", "description": "Location code", "example": "THR"}, "terminal": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Terminal", "description": "Terminal", "example": "A12"}, "duration": {"anyOf": [{"type": "string"}, {"type": "null"}], "title": "Duration", "description": "Duration", "duration": "PT2H30M"}}, "type": "object", "required": ["code"], "title": "Stop"}, "ValidationErrorDetail": {"properties": {"id": {"type": "string", "title": "Id", "description": "Error ID", "default": "E1001"}, "message": {"type": "string", "title": "Message", "default": "Validation error"}, "detail": {"items": {"$ref": "#/components/schemas/Detail"}, "type": "array", "title": "Detail"}}, "type": "object", "required": ["detail"], "title": "ValidationErrorDetail"}, "ValidationErrorResponse": {"properties": {"success": {"type": "boolean", "title": "Success", "description": "Success flag", "default": false}, "error": {"allOf": [{"$ref": "#/components/schemas/ValidationErrorDetail"}], "description": "Error details"}}, "type": "object", "required": ["error"], "title": "ValidationErrorResponse"}}, "securitySchemes": {"OAuth2PasswordBearer": {"type": "oauth2", "flows": {"password": {"scopes": {}, "tokenUrl": "https://account.owj.app/api/account/v1/auth/oauth2"}}}}}}